@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 80px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.relogio {
  font-size: 3em;
}

.pausado {
  color: red;
}

/* Estilo para os botões de cronômetro */
button.iniciar,
button.pausar,
button.zerar {
  font-size: 20px; /* Tamanho da fonte dos botões */
  padding: 15px 30px; /* Espaçamento interno dos botões */
  margin: 10px; /* Espaçamento externo entre os botões */
  border: none; /* Remove a borda padrão */
  border-radius: 10px; /* Arredondamento dos cantos dos botões */
  background-color: var(--primary-color); /* Cor de fundo */
  color: white; /* Cor do texto */
  cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

button.iniciar:hover,
button.pausar:hover,
button.zerar:hover {
  background-color: var(--primary-color-darker); /* Cor de fundo ao passar o mouse */
}